.episodes-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 6px;
    padding-top: 96px;
}

.episodes-header__title {
    white-space: nowrap;
    width: 513px;
    height: 80px;
    color: #FFF;
    font-size: 64px;
}

.button {
    color: #FFF;
    font-size: 17px;
    line-height: 27px;
    width: 143px;
    text-decoration: none;
}

.episodes-header__button {
    width: 178px;
    height: 51px;
    border-radius: 6px;
    background: #118DA8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.episodes-content-block {
    border-radius: 32px;
    background: #000;
    display: flex;
    white-space: nowrap;
    margin-top: 60px;
}

.episodes__image-1 {
    width: 389px;
    height: 465px;
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 53px;
}

.episodes__image-2 {
    width: 389px;
    height: 432px;
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 53px;
}

.episodes__image-3 {
    width: 389px;
    height: 432px;
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 53px;
}

.episodes-content__button {
    width: 208px;
    height: 51px;
    border-radius: 6px;
    background: #118DA8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
}

.episodes-content__label {
    width: 73px;
    height: 27px;
    border-radius: 6px;
    background: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
}

.episodes-content__label-1 {
    width: 136px;
    height: 27px;
    border-radius: 6px;
    background: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
}

.episodes-content__link {
    width: 66px;
    color: #118DA8;
    padding-top: 48px;
}

.episodes-content__title {
    width: 701px;
    color: #FFF;
    font-size: 64px;
    line-height: 70px;
    padding-top: 18px;
}

.episodes-content__text {
    width: 773px;
    color: rgba(255, 255, 255, 0.70);
    font-size: 22px;
    line-height: 33px;
    padding-top: 28px;
}

.episodes-content-text {
    display: flex;
    flex-direction: column;
}