footer {
    display: flex;
    padding-top: 200px;
    padding-left: 70px;
}

.footer-title {
    display: flex;
    flex-direction: column;
    padding-bottom: 23px;
    padding-left: 0;
}

.footer-social {
    display: flex;
    gap: 10px;
    padding-top: 23px;
}

.footer-button {
    display: flex;
    gap: 17px;
}

.footer-menu-1 {
    display: flex;
    gap: 10px;
    flex-direction: column;
    color: #FFF;
    padding-left: 239px;
}

.footer-menu-2 {
    display: flex;
    gap: 10px;
    flex-direction: column;
    color: #FFF;
    padding-left: 120px;
    padding-right: 21px;
}