footer {
    display: flex;
    padding-top: 200px;
    gap: 16px;
}

.footer-title {
    display: flex;
    flex-direction: column;
    padding-bottom: 23px;
    width: 447px;
}

.footer-social {
    display: flex;
    gap: 10px;
    padding-top: 23px;
}

.footer-button {
    display: flex;
    gap: 17px;
    width: 219px;
}

.footer-menu {
    display: flex;
    gap: 10px;
    flex-direction: column;
    color: #FFF;
    width: 179px;
}
