ul,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#app {
    width: 1440px;
    margin: 0 auto;

}

body {
    background: #191919;
    color: #FFF;
    font-family: 'DM Sans';
}

@media screen and (max-width: 390px) {
    #app {
        width: 390px;
    }
}