.host {
    display: flex;
    padding-top: 260px;
    justify-content: center;
}

.host-content {
    padding-right: 94px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.host-content__button {
    width: 112px;
    height: 112px;
    background: #118DA8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.host-content__link {
    width: 126px;
    color: #118DA8;
    font-family: DM Sans;
    font-size: 18px;
    line-height: 27px;
    padding-top: 20px;
}

.host-content__title {
    width: 496px;
    color: #FFF;
    font-family: DM Sans;
    font-size: 65px;
    line-height: 79.2px;
    letter-spacing: 2.88px;
    padding-bottom: 28px;
}

.host-content__text {
    width: 556px;
    color: rgba(255, 255, 255, 0.70);
    font-size: 22px;
    line-height: 33px;
}

.br {
    display: none;
}

.p__active {
    display: none;
}

@media screen and (max-width: 390px) {
    .host-image {
        display: none;
    }

    .host {
        padding-right: 0;
        padding-left: 300px;
    }

    .host-content {}

    .host-content__button {}

    .host-content__link {
        padding-top: 10px;
    }

    .host-content__title {
        padding-bottom: 0;
    }

    .host-content__text {
        line-height: auto;
    }

    p {
        margin: 0;
    }

    .p__active {
        padding-top: 10px;
    }

    .br {
        display: block;
    }
}