.review__comment {
    color: #FFF;
    font-size: 36px;
    line-height: 43px;
    padding-left: 50px;
    padding-top: 21px;
}

.review__author {
    width: 154px;
    color: rgba(255, 255, 255, 0.70);
    font-size: 24px;
    line-height: 28px;
    padding-top: 19px;
    padding-left: 50px;
    white-space: nowrap;
}

.review__border {
    width: 423px;
    height: 364px;
    border-radius: 32px;
    background: #000;
    display: flex;
    flex-direction: column;
}

.review {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    padding-top: 200px;
}

.review__mark {
    padding-top: 54px;
    padding-left: 50px;
}

.review__title {
    display: none;
}

@media screen and (max-width: 390px) {
    .review {
        padding-top: 120px;
    }

    .review__title {
        display: block;
        font-size: 70px;
        margin: 0;
    }

    .review__border {
        width: 423px;
        height: 300px;
    }

    .review__mark,
    .review__comment,
    .review__author {
        padding-left: 20px;
    }
}