.showcase-image {
    width: 650px;
    height: 873px;
    border-radius: 12px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.showcase {
    display: flex;
    padding-top: 83px;
    margin-right: 134px;
}

.showcase-svg {
    width: 58px;
    height: 74px;
    position: absolute;
    margin: -26px;
}

.showcase-main {
    display: flex;
    flex-direction: column;
}

.showcase-main-text__common {
    width: 526px;
    color: #FFF;
    font-size: 70px;
    line-height: 88px;
    letter-spacing: 3px;
    padding-top: 294px;
    padding-left: 60px;
    padding-right: 60px;
}

.showcase-main-text__underlined {
    color: #FFF;
    font-size: 75px;
    line-height: 88px;
    letter-spacing: 3px;
    padding-left: 60px;
}

.showcase-main-line {
    position: relative;
    padding-left: 60px;
    margin-top: -84px;
}

.showcase-main-subtitle {
    color: #FFF;
    font-size: 15px;
    line-height: 24px;
    padding-left: 82px;
    padding-top: 90px;
    padding-bottom: 16px;
}

.showcase-main-link {
    display: flex;
    gap: 17px;
    padding-left: 82px;
}

.showcase-main-link__item {
    width: 32px;
    height: 32px;
}

.the {
    display: block;
}

.showcase-main-text-mobile {
    display: none;
}

@media screen and (max-width: 390px) {
    .showcase {
        padding-top: 16px;
    }

    .showcase-svg {
        display: none;
    }

    .showcase-image {
        display: none;
    }

    .showcase-main-text {
        display: none;
    }

    .showcase-main-link {
        gap: 10px;
    }

    .showcase-main-subtitle {
        padding-bottom: 8px;
        padding-top: 30px;
    }

    .showcase-main-link__item {
        width: 16px;
        height: 16px;
    }

    .showcase-main-text-mobile {
        display: block;
    }

    .showcase-main-text-mobile__common {
        width: 160px;
        font-size: 40px;
        line-height: 50px;
        letter-spacing: 3px;
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 0px;
        white-space: nowrap;
    }

    .showcase-main-text-mobile__underlined {
        width: 160px;
        font-size: 40px;
        line-height: 50px;
        letter-spacing: 3px;
        padding-top: 0;
        padding-left: 30px;
        padding-right: 0px;
        white-space: nowrap;
    }

    .showcase-main-line {
        display: none;
    }

    .the {
        display: none;
    }

    .showcase-main-subtitle,
    .showcase-main-link {
        padding-left: 80px;
    }
}