.showcase-image {
    width: 650px;
    height: 873px;
    border-radius: 12px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.showcase {
    display: flex;
    padding-top: 83px;
    margin-right: 134px;
}

.showcase-svg {
    width: 58px;
    height: 74px;
    position: absolute;
    margin: -26px;
}

.showcase-main {
    display: flex;
    flex-direction: column;
}

.showcase-main-text__common {
    width: 526px;
    color: #FFF;
    font-size: 70px;
    line-height: 88px;
    letter-spacing: 3px;
    padding-top: 294px;
    padding-left: 60px;
    padding-right: 60px;
}

.showcase-main-text__underlined {
    color: #FFF;
    font-size: 75px;
    line-height: 88px;
    letter-spacing: 3px;
    padding-left: 60px;
}

.showcase-main-line {
    position: relative;
    padding-left: 60px;
    margin-top: -84px;
}

.showcase-main-subtitle {
    color: #FFF;
    font-size: 15px;
    line-height: 24px;
    padding-left: 82px;
    padding-top: 90px;
    padding-bottom: 16px;
}

.showcase-main-link {
    display: flex;
    gap: 17px;
    padding-left: 82px;
}